@charset "utf-8";
/* CSS Document */

body
{
margin:0px;
padding:0px;
background-color: #FFF;
}
*
{
margin:0px;
padding:0px;
}
img
{
border:0px;
}
p
{
margin:7px 0px;
text-align:justify;
}

.wood {
	display: block;
	background-image: url("../images/wood.jpg");
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 z-index: 1;
 height: 1250px;
 width: auto;
}
.welcome-box { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 300px;
 
background: url("../images/city.jpg");
 background-attachment: fixed;
 z-index: 0;
}

.welcome-box:before {
	content: "";
	position: absolute;
	width: 100%;
  min-height: 300px;
	background: linear-gradient(270deg, rgba(7, 82, 222, 1),  rgba(7, 82, 182, 1),rgba(7, 52, 182, 1));
	opacity: .85;
	z-index: 0;
}

.welcome-left h2.styleFontface
{
	font-family: Khand-Regular;
	font-size:30px;
	line-height:36px;
	color: #FFF;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	text-decoration:none; text-transform: none; margin-top:15px;
}


input:focus
{
	outline:none;
}
	.comment
{
width:230px;
height:100px;
font-size:12px;
line-height:20px;
color: #fff;
font-weight:normal;
padding:5px;
font-family:Arial, Helvetica, sans-serif; text-transform: none;
background-color: #FFF; border:none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

.title_top {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 50px;
}
.content-title h3.styleFontface
{
	font-family: Khand-Bold;
	font-size:24px;
	line-height:26px;
	color: #202020;
	font-weight:bold;
	font-style:normal;
	font-variant:normal;
	text-decoration:none; text-transform: uppercase; margin-top:18px;
}

.testimonial-box { width:100%; height:auto; float:left; text-align:center; padding-top:58px; padding-bottom:54px; background-color: #f0f0f0;}
.testimonial-inside { width:1000px; height:auto; float:left; text-align:center;}
.testimonial-inside h3.styleFontface
{
	font-family: Khand-Regular;
	font-size:24px;
	line-height:30px;
	color: #202020;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	text-decoration:none; text-transform: none;
}
.testimonial-inside h4.styleFontface
{
	font-family: Khand-Bold;
	font-size:24px;
	line-height:26px;
	color: #fd7602;
	font-weight:bold;
	font-style:normal;
	font-variant:normal;
	text-decoration:none; text-transform: uppercase; margin-top:16px;
}
.colon-bg { margin-bottom:22px;}
#footer { width:100%; height:auto; float:left; text-align:center; font-size:18px; line-height:14px; color: #FFF; background-color: #2150a0; padding:20px 0px;
font-weight:normal; font-family:Arial, Helvetica, sans-serif;}
#footer a{ font-size:18px; line-height:24px; color: #FFF; font-weight:normal; font-family:Arial, Helvetica, sans-serif; text-decoration:none; text-transform:none;}
.footer-main { width:1000px; height:auto; margin:0px auto; text-align:center;}

/* CSS Text Document */

h1.styleFontface
{
font-family: 'Cabin Sketch', cursive;
	font-size:55px;
	line-height:55px;
	color: rgba(255,255,255,1);
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	text-decoration:none; text-transform: uppercase;
margin-top: 50px;
}
h2.styleFontface
{
	font-family: Khand-Semibold;
	font-size:28px;
	line-height:38px;
	color: #202020;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	text-decoration:none; text-transform: uppercase;
	
}
h3.styleFontface
{
	font-family: Khand-Regular;
	font-size:36px;
	line-height:44px;
	color: #202020;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	text-decoration:none; text-transform: uppercase;
}
h3.styleFontface a
{
	font-family: Khand-Bold;
	font-size:20px;
	
	color: #fd7602;
	font-weight:bold;
	font-style:normal;
	font-variant:normal;
	text-decoration:none; text-transform: uppercase;
}
h3.styleFontface a:hover
{
	font-family: Khand-Bold;
	font-size:36px;
	line-height:44px;
	color: #fd7602;
	font-weight:bold;
	font-style:normal;
	font-variant:normal;
	text-decoration:none; text-transform: uppercase;
}

.bold-text { font-weight:bold; font-family: Khand-Bold;}

@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;

}

@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container-form {
  position: relative;

  margin: 0px auto;
 	width: 100vw;
  justify-content: center;
  z-index: 5;
}
@media (max-width: 767px) {
  .container-form {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.shadow {
	box-shadow: -3px -6px 7px 7px rgba(0,0,0,0.1)
}

label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 20px;
  height: 40px;
  line-height: 20px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}

#submit {
  color: white;
  margin-top: 0px;
  transition: color 300ms;
  cursor: pointer;
  border:1px solid white;
  background: rgba(100,200,100,.4);
  width: 100%;
 
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}
.submitt {
  position: relative;
   min-width: 400px;
}

.c-hero-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  width: 100vw;

}

@media (min-width: 960px) {
  .c-hero-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    
  }
}
@media (max-width: 960px) {
  .c-hero-flex {
    flex-flow: column nowrap;
  }
  .c-hero-flex__item {
    width: 100%;
 
  }
}

.c-hero-flex__item {
  flex-grow: 1;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.2);
  transition: .2s all;
  cursor: pointer;
}

@media (min-width: 961px) {
  .c-hero-flex__item {
    height: 100%;
    text-decoration: none;
  }
}
.c-hero-flex__item:hover
 {
  flex-grow: 2;
  box-shadow: inset 0 0 0 100vmax rgba(120, 100, 200, 0.5);
}
.c-hero-flex__item:nth-child(1) {
  background: url("../images/smile1.jpg") no-repeat center center;
  text-decoration: none;
}
.c-hero-flex__item:nth-child(2) {
  background: url("../images/smile5.jpg") no-repeat center center;
  text-decoration: none;
}
.c-hero-flex__item:nth-child(3) {
  background: url("../images/smile3.jpg") no-repeat center center;
  text-decoration: none;
}
.c-hero-flex__item:nth-child(4) {
  background: url("../images/smile4.jpg") no-repeat center center;
  text-decoration: none;
}

.c-hero-flex__title {
  text-transform: uppercase;
  /*padding: 20px;*/
  width: 60px;
  height: 60px;
  color: rgb(255,255,255);
  transition: .2s all;
  font-size: 58px;
  opacity: .4;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0;
}

.c-hero-flex__item:hover > .c-hero-flex__title {
	opacity: .9;
	border: none;
}

/*.c-hero-flex__item:hover > .c-hero-flex__title:after {
	content: "Testing";
	font-family: 'IM Fell DW Pica SC', serif;
	font-size: 30px;

	opacity: 1;



}*/

.dib {
    display: inline-block;
}

.fw6 {
    font-weight: 600;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w-100 {
    width: 100%;
}

.fixed {
  display: block;
    position: fixed;
    z-index: 12;
    overflow-x: hidden;
    width: 100vw;
}

.white {
    color: #fff;
}

.bg-black-90 {
    background-color: rgba(0, 0, 0, .9);
}

.pv3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

.hover-green:hover {
    color: #19a974;
    text-decoration: none;
}

.hover-green:focus {
    color: #19a974;
}

@media screen and (min-width: 30em) {
    .pv4-ns {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .ph4-m {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 60em) {
    .ph5-l {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.ba {
    border-style: solid;
    border-width: 1px;
}

.bn {
    border-style: none;
    border-width: 0;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float: left;
    _display: inline;
}

.input-reset {
    -webkit-appearance: none;
       -moz-appearance: none;
}

.button-reset::-moz-focus-inner, .input-reset::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.lh-solid {
    line-height: 1;
}

.mw7 {
    max-width: 48rem;
}

.w-100 {
    width: 100%;
}

.black-80 {
    color: rgba(0, 0, 0, .8);
}

.white {
    color: #fff;
}

.bg-black-70 {
    background-color: rgba(0, 0, 0, .7);
}

.bg-white {
    background-color: #fff;
}

.bg-light-red {
    background-color: rgba(80,210,80,.6);
}

.hover-bg-black:hover {
    background-color: #000;
}

.hover-bg-black:focus {
    background-color: #000;
}

.pa0 {
    padding: 0;
}

.pa3 {
    padding: 1rem;
}

.pa4 {
    padding: 2rem;
}

.pv3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ma0 {
    margin: 0;
}

.mb3 {
    margin-bottom: 1rem;
}

.tc {
    text-align: center;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}
    .w-50-m {
      width: 50%;
    }
    .w-50-l {
      width: 50%;
    }

.center {
    margin-right: auto;
    margin-left: auto;
}

.clip {
  font-size: 20px;
  margin-bottom: 15px;
}

.pointer:hover {
    cursor: pointer;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}

@media screen and (min-width: 30em) {
    .br2-ns {
        border-radius: .25rem;
    }

    .br--right-ns {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .br--left-ns {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .f4-ns {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-25-m {
        width: 25%;
    }

    .w-50-m {
      width: 50%;
    }
    .w-50-l {
      width: 50%;
    }
    .w-75-m {
        width: 75%;
    }
}

@media screen and (min-width: 60em) {
    .w-20-l {
        width: 20%;
    }

    .w-80-l {
        width: 80%;
    }

    .pa4-l {
        padding: 2rem;
    }

    .f5-l {
        font-size: 1rem;
    }
        .w-50-m {
      width: 50%;
    }
    .w-50-l {
      width: 50%;
    }
} 
.logobig {
  height:450px; 
  width: auto;
  position: relative;
  top: 100px;
  left: -20px;
  z-index: 11;
}

.form {
  position: relative;
  top: 50px;
}

.buttonsend {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  width: 400px;
}
.ba {
    border-style: solid;
    border-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.br3 {
    border-radius: .5rem;
}

.br-100 {
    border-radius: 100%;
}

.bw1 {
    border-width: .125rem;
}

.dib {
    display: inline-block;
}

.h3 {
    height: 4rem;
}

.lh-copy {
    line-height: 1.5;
}

.mw3 {
    max-width: 4rem;
}

.mw5 {
    max-width: 16rem;
}

.w3 {
    width: 4rem;
}

.black-70 {
    color: rgba(0, 0, 0, .7);
}

.bg-white {
    background-color: #fff;
}

.pa3 {
    padding: 1rem;
}

.mv3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tc {
    text-align: center;
}

.f4 {
    font-size: 1.25rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .pa4-ns {
        padding: 2rem;
    }
}

.hide-child .child {
    opacity: 0;
  transition: opacity .15s ease-in;
}
.hide-child:hover  .child,
.hide-child:focus  .child,
.hide-child:active .child {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.underline-hover:hover,
.underline-hover:focus {
  text-decoration: underline;
}

/* Can combine this with overflow-hidden to make background images grow on hover
 * even if you are using background-size: cover */

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.grow:hover,
.grow:focus {
  transform: scale(1.05);
}

.grow:active {
  transform: scale(.90);
}

.grow-large {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform .25s ease-in-out;
}

.grow-large:hover,
.grow-large:focus {
  transform: scale(1.2);
}

.grow-large:active {
  transform: scale(.95);
}

.pointer:hover {
  cursor: pointer;
}

.shadow-hover {
  cursor: pointer;
  position: relative;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-hover::after {
  content: '';
  box-shadow: 0px 0px 16px 2px rgba( 0, 0, 0, .2 );
  border-radius: inherit;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-hover:hover::after,
.shadow-hover:focus::after {
  opacity: 1;
}

/* Combine with classes in skins and skins-pseudo for 
 * many different transition possibilities. */

.bg-animate,
.bg-animate:hover,
.bg-animate:focus {
  transition: background-color .15s ease-in-out; 
}

#bg-pink {
display: block;
position: relative;
bottom: 0px;
background: url('../images/cube.png');
background-repeat: no-repeat;
height: 650px;
background-position: center center;
z-index: 0;
overflow-x: hidden;
}
#bg-pinker {
display: block;
position: relative;
bottom: 0px;
background: url('../images/cube2.png');
background-repeat: no-repeat;
height: 650px;
overflow-x: visible;
background-position: center center;
z-index: 0;
}
#bg-pinkest {
display: block;
position: relative;
top:  -470px;
background: url('../images/cube3.png');
background-repeat: no-repeat;
height: 650px;
background-position: center center;
z-index: 0;
overflow-x: hidden;
}
.tray {
  display: block;
  position: absolute;
  top: 1170px;
  width: 100%;
  height: 200px;
  background-color:   background: -webkit-gradient(linear,left top,right top,from(#f4f3fa),to(#000));
  background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(40, 40, 40));
/*  border-top: 35px solid rgb(40, 40, 40);*/
  z-index: 2;
  overflow-x: hidden;
}

.tray:after {
  content: "";
  width: 100%;
  height: 50px;
  position: relative;
  display: block;
  background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(20, 20, 20));

}


li {
  list-style: none;
}
nav {
  z-index: 10;
}
 .customer-quote {
  -webkit-tap-highlight-color: transparent;
  background-color: rgb(40, 40, 40);
  margin: 0;
  padding: 60px 0 60px;
  margin-top: 0px;
}
.cd-testimonials-wrapper {
  position: relative;
  width: 90%;
  max-width: 768px;
  background-color: transparent;
    border: 2px solid rgba(162,180,197,.6);
  margin: 1em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  z-index: 1;

}
.cd-testimonials-wrapper::after {
  /* quotation mark */
  content: '\201C';
  position: absolute;
  top: -30px;
  left: 40px;
  width: 10px;
  height: 10px;
  padding-top: 8px;
  margin-left: -25px;
  background: transparent;
  font-family: "Georgia", serif;
  color: rgba(162,180,197,.6);
  font-size: 150px;
  font-size: 8.375rem;
  text-align: center;
  /* visible on big devices only */
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper {
    margin: 4em auto;
    padding: 64px 50px 64px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-wrapper::after {
    /* quotation mark visible */
    display: block;
  }
}

.cd-testimonials {
  color: #ffffff;
  text-align: center;
}
.cd-testimonials::after {
  clear: both;
  content: "";
  display: table;
}
.cd-testimonials > li {
  position: absolute;
  opacity: 0;
}
.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1;
}
.cd-testimonials p {
  font-family: "Georgia", serif;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 0 14px;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials p {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.6;
  }
}

.cd-author img, .cd-author .cd-author-info {
  display: inline-block;
  vertical-align: middle;
}
.cd-author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.cd-author .cd-author-info {
  text-align: center;
  line-height: 1.2;
}
.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-author .cd-author-info li:last-child {
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .cd-author img {
    width: 50px;
    height: 50px;
  }
  .cd-author .cd-author-info {
    line-height: 1.4;
  }
  .cd-author .cd-author-info li:first-child {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}
.flex-direction-nav li:first-child {
  left: 0;
}
.flex-direction-nav li:last-child {
  right: 0;
}
.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.no-touch .flex-direction-nav li a:hover {
  background-color: #323234;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: #ffffff;
}
.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .flex-direction-nav li {
    width: 50px;
  }
}
@media only screen and (min-width: 1170px) {
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    background-color: #fff;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
    background-color: #ffffff;
  }
}
.ar1 {
  margin-top: 120px;
  border-top: 4px solid rgba(100,100,100,1);
  border-bottom: 4px solid rgba(100,100,100,1);
}

article {

  height: 90vh;
}

    .panels {
      min-height:100%;
      overflow: hidden;
      display: flex;
      cursor: pointer;
      flex-wrap: wrap;

    }

    .panel {
      background:#6B0F9C;
      box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.3);
      color:white;
      text-align: center;
      align-items:center;
      min-width: 15%;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      background-repeat: no-repeat;
      font-size: 14px;
      background-size: cover;
      background-position:center;
      flex: 1;
      justify-content: center;
      display: flex;
  
      cursor: pointer;

    }


    .panel1 { background-image:url('../images/strains/brucebannerog.jpg'); }
    .panel2 { background-image:url('../images/strains/charlottesweb.jpg'); }
    .panel3 { background-image:url('../images/strains/dosidos.jpg'); }
    .panel4 { background-image:url('../images/strains/dosixstrawnanna.jpg'); }
    .panel5 { background-image:url('../images/strains/fireog.jpg'); }
    .panel6 { background-image:url('../images/strains/gelatonumber33.jpg'); }
    .panel7 { background-image:url('../images/strains/gg4.jpg'); }
    .panel8 { background-image:url('../images/strains/gmoxstrawnanna.jpg'); }
    .panel9 { background-image:url('../images/strains/grapenana.jpg'); }
    .panel10 { background-image:url('../images/strains/grapepie.jpg'); }
    .panel11 { background-image:url('../images/strains/lavacake.jpg'); }
    .panel12 { background-image:url('../images/strains/lemoncake.jpg'); }
    .panel13 { background-image:url('../images/strains/mendobreath.jpg'); }
    .panel14 { background-image:url('../images/strains/mendopurpsogcut.jpg'); }
    .panel15 { background-image:url('../images/strains/orangeade.jpg'); }
    .panel16 { background-image:url('../images/strains/orangeromulan.jpg'); }
    .panel17 { background-image:url('../images/strains/papayaxstrawnana.jpg'); }
    .panel18 { background-image:url('../images/strains/piefaceog.jpg'); }
    .panel > * {
      margin:0;
      width: 100%;
      transition:transform 0.5s;
      flex: 1 0 auto;
      display:flex;
      justify-content: center;
      align-items: center;
    }

/**/
    .panel p {
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      text-shadow:0 0 6px rgba(0, 0, 0, 0.82), 0 0 16px rgba(0, 0, 0, 0.65);
      font-size: 1.2em;
      font-weight: 700;
    }
    .panel p:nth-child(2) {
      font-size: 1.2em;
    }

    .panel.open {
      flex: 5;
      font-size:20px;
      box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.05);    

    }

@media (max-width: 768px) {
  .no-mobile {
    display: none;
  }
}


@media (max-width: 768px) {
  .panel p {
    font-size: .5em;
  }
  .panel.open {
      flex: 2;
      font-size:14px;
    }
  .logobig {
    width:420px;
    height: auto;
    margin: 0;
    padding: 0;
    left: -7px;
  }
  .panel {
    min-width: 50%;
    min-height: 100px;
  }
}